<header class="hero-section text-white d-flex align-items-center">
    <img src="assets/video/gif-bg.gif" id="bg-video" alt="DBD Background">

    <div class="overlay"></div>

    <div class="container text-center content-hero">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-1 fw-bolder text-uppercase text-shadow">La Niebla te espera</h1>
                <p class="lead fs-3 mb-4">Domina cada sacrificio. Explora personajes, habilidades y lore.</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    <button class="btn btn-danger btn-lg px-5 fw-bold text-uppercase rounded-0" routerLink="/killers" routerLinkActive="active">
            Ver Killers
          </button>
                    <button class="btn btn-outline-red btn-lg px-5 fw-bold text-uppercase rounded-0" routerLink="/survivors" routerLinkActive="active">
            Ver Survivors
          </button>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="info-section py-5 text-white">

    <div class="container">
        <div class="row align-items-center mb-5 reveal">
            <div class="col-lg-7 offset-lg-1">
                <div class="ratio ratio-16x9 border border-secondary shadow-lg">
                    <img src="assets/video/habilidades.gif" id="bg-video" alt="Habilidades">
                </div>
            </div>
            <div class="col-lg-4 ps-lg-5">
                <h2 class="display-4 fw-bold text-danger text-uppercase">El Ritual</h2>
                <p class="fs-5">Escapa de las garras del asesino antes de que el Ente reclame tu alma.</p>
            </div>
        </div>

        <div class="row align-items-center flex-lg-row-reverse reveal py-5">
            <div class="col-lg-7">
                <div class="ratio ratio-16x9 border border-secondary shadow-lg">
                    <img src="assets/video/killer.gif" id="bg-video" alt="Killer">
                </div>
            </div>
            <div class="col-lg-5 pe-lg-5">
                <h2 class="display-4 fw-bold text-danger text-uppercase">Habilidades</h2>
                <p class="fs-5">Cada personaje cuenta con tres perks únicas...</p>
            </div>
        </div>
    </div>
</section>
