<header class="hero-section text-white d-flex align-items-center">
    <img src="assets/video/gif-bg.gif" id="bg-video" alt="DBD Background">

    <div class="overlay"></div>

    <div class="container text-center content-hero">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-1 fw-bolder text-uppercase text-shadow">La Niebla te espera</h1>
                <p class="lead fs-3 mb-4">Domina cada sacrificio. Explora personajes, habilidades y lore.</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    <button class="btn btn-danger btn-lg px-5 fw-bold text-uppercase rounded-0">
            Ver Killers
          </button>
                    <button class="btn btn-outline-red btn-lg px-5 fw-bold text-uppercase rounded-0">
            Ver Survivors
          </button>
                </div>
            </div>
        </div>
    </div>
</header>
