.navbar-glass {
    /* Degradado de negro a transparente */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 70%,
        rgba(0, 0, 0, 0) 100%
    ) !important;

    -webkit-backdrop-filter: blur(8px);

    border: none !important;
    box-shadow: none !important;
}
