/* Esto aplica a toda la página */
body {
    background-color: #000000; /* Negro puro */
    color: white; /* Texto blanco por defecto */
    margin: 0;
    padding: 0;
}

.hero-section {
    position: relative;
    height: 100vh;
    /* Ocupa el 100% del alto de la pantalla */
    width: 100%;
    overflow: hidden;
    /* Evita scrolls raros si el gif es muy grande */
    display: flex;
    align-items: center;
    justify-content: center;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ¡ESTA ES LA MAGIA! Cubre todo sin deformarse */
    object-position: center;
    /* Mantiene el centro del gif siempre visible */
    z-index: -1;
    /* Lo manda al fondo de todo */
}

.mover {
    transform: translateY(-7px);
}

/* La capa oscura para que el texto resalte (Overlay) */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* 60% de oscuridad para el toque DBD */
    z-index: 0;
}

.content-hero {
    position: relative;
    z-index: 1;
    /* Asegura que el texto y botones estén por encima del overlay */
}

/* Efecto opcional: un poco de sombra al texto para que no se pierda */

.text-shadow {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
